<h1 class="display-3 mt-3 mb-4">Все товары</h1>

{{#if products.length}}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each products}}
  <div class="col">
    <div class="card">
      <img src="{{img}}" class="card-img-top" id="img" alt="{{title}}">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{price}}</h6>
        <a href="/products/{{id}}" target="_blank" class="card-link">Открыть товар</a>
        {{#if @root.isAuth}}
        {{#ifeq userId._id @root.userId}}
        <a href="/products/{{id}}/edit?allow=true" class="card-link">Редактировать</a>
        {{/ifeq}}
        <form action="/cart/add" method="POST" class="mt-3">
          <input type="hidden" name="id" value="{{id}}">
          <input type="hidden" name="_csrf" value="{{@root.csurf}}">
          <button type="submit" class="btn btn-primary">Добавить в корзину</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<p class="lead">Товаров пока нет. Будьте первым - добавьте!</p>
{{/if}}